<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/esdPlacementDB?createDatabaseIfNotExist=true</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">chandan_hibernate</property>
        <property name="connection.password">@2B2c2d2</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <!-- Bean classes -->
        <mapping class="com.esd.erp.placement.bean.Students" />
        <mapping class="com.esd.erp.placement.bean.Employee" />
        <mapping class="com.esd.erp.placement.bean.Placement" />
        <mapping class="com.esd.erp.placement.bean.PlacementFilter" />
        <mapping class="com.esd.erp.placement.bean.PlacementStudent" />
        <mapping class="com.esd.erp.placement.bean.StudentCourses" />
    </session-factory>
</hibernate-configuration>
